a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover {
  text-shadow: #fff 0 0 0.5rem;
}

a:focus {
  text-shadow: #fff 0 0 0.5rem;
}

.log-in-and-sign-up {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

}